.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/program/**/build/
!**/src/test/**/build/

win-service-*/exe/
win-service-*/logs/
win-service-*/*.log

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/program/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/program/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

logs/
